@model ContatoModel;

@{
    ViewData["Title"] = "Criar Contato";
}

<h1 class="display-4">Criar contato</h1>

<form asp-controller="Contatos" asp-action="Create" method="post">
  <div class="form-group">
    <label for="name" class="form-label">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome">
  </div>
  <div class="form-group">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail">
  </div>
  <div class="form-group">
    <label for="cel" class="form-label">Celular</label>
    <input type="text" asp-for="Telefone" class="form-control" placeholder="Digite o celular">
  </div>
  <br />
  <button type="submit" class="btn btn-success">Criar</button>
  <a class="btn btn-secondary" role="button" asp-controller="Contatos" asp-action="Index">Voltar</a>
</form>